<div id='container'>

  <h1>Shorten Urls</h1>
  <div class='navigation'>
    <ul>
      <li><a href="#/links"><strong>Links</strong></a></li>
      <li><a href="#/shorten"><strong>Shorten</strong></a></li>
      <li><a href='#' ng-click='signOut()'><strong>Log out</strong></a></li>
    </ul>
  </div>
  <form name="insertUrl" ng-submit='addLink()'>
    <input type='text' ng-model='link.url'>
    <button>Shorten</button>
    <!-- <div class='error' style='{{error.hidden}}'>Invalid Url</div> -->
  </form>

  <div class='link' style="{{hidden}}">
    <img src='../../assets/redirect_icon.png' />
    <div class='title'> {{justCreatedLink.title}} </div>
    <a ng-href='/api/links/{{justCreatedLink.code}}'>{{justCreatedLink.base_url}}/api/links/{{justCreatedLink.code}}</a>
    <div class='visits' >
      <div class='count'> {{justCreatedLink.visits}} </div>
    </div>
  </div>

</div>
